DateTime  ==         5.4
idna      ==         3.6
numpy         ==     1.26.1
pandas        ==     2.1.1
pip           ==     24.0
psycopg2       ==    2.9.9
Pygments      ==     2.16.1
pytrends     ==      4.9.2
requests    ==       2.31.0
seaborn     ==       0.13.0
urllib3     ==       2.1.0
